<template>
	<div class="">
		<div v-if="!test">
			<v-progress-circular indeterminate color="primary"></v-progress-circular>
		</div>
		<form v-else @submit="" class="t-form">
			<v-text-field
				label="Заголовок"
				v-model="test.title"
				:disabled="loading"
				persistent-hint
			></v-text-field>
			<v-text-field
				label="Описание"
				v-model="test.description"
				:disabled="loading"
				persistent-hint
				multi-line
			></v-text-field>
			<v-tabs v-model="type">
				<v-tab ripple key="0" href="#QUESTIONS" :disabled="loading">Вопросы</v-tab>
				<v-tab ripple key="1" href="#RESULTS" :disabled="loading">Результаты</v-tab>
			</v-tabs>
			<v-tabs-items v-model="type">
				<v-tab-item key="0" id="QUESTIONS">
					<t-question-card
						v-if="question"
						:value="question"
						@close="closeQuestion"
					/>
					<v-list v-else dense>
						<t-question
							v-for="(q, i) in test.questions"
							:value="q"
							:key="i"
							@edit="editQuestion"
							@up="upQuestion"
							@down="downQuestion"
							@del="delQuestion"
						/>
					</v-list>
					<v-btn v-if="!question" primary @click="addQuestion">Добавить вопрос</v-btn>
				</v-tab-item>
				<v-tab-item key="1" id="RESULTS">
					<t-result-card
						v-if="result"
						:value="result"
						@close="closeResult"
					/>
					<v-list v-else dense>
						<t-result
							v-for="(r, i) in test.results"
							:value="r"
							:key="i"
							@add="addResult"
							@edit="editResult"
							@del="delResult"
						/>
					</v-list>
				</v-tab-item>
			</v-tabs-items>

			<v-btn
				v-if="!qid && !rid"
				color="pink"
				dark
				small
				fixed
				bottom
				right
				fab
				@click.stop="saveDialog = true"
			>
				<v-icon>save</v-icon>
			</v-btn>
			<v-dialog v-model="saveDialog" max-width="640">
				<v-card>
					<v-card-title class="headline">Сохранить тест</v-card-title>
					<v-card-text>
						<v-text-field
							label="Машинное имя"
							v-model="name"
							:disabled="loading"
							persistent-hint
							mask="nnnnnnnnnnnnnnnnnnnn"
						></v-text-field>
					</v-card-text>
					<v-card-actions>
						<v-spacer></v-spacer>
						<v-btn flat="flat" @click.native.stop="saveDialog = false">Закрыть</v-btn>
						<v-btn primary @click.native="saveTest">Сохранить</v-btn>
					</v-card-actions>
				</v-card>
			</v-dialog>
			<v-snackbar
				v-model="snackStatus"
				:timeout="3000"
				bottom
				multi-line
			>{{snackText}}</v-snackbar>
		</form>
	</div>
</template>

<script>
	import axios from 'axios';
	import Result from '../components/Result.vue';
	import ResultCard from '../components/ResultCard.vue';
	import Question from '../components/Question.vue';
	import QuestionCard from '../components/QuestionCard.vue';


	const INF = '∞';

	function indexById(ar, id){
		let n = null;
		for(let i = 0, l = ar.length; i < l; ++i){
			if(ar[i].id == id){
				n = i;
			}
		}
		return n;
	}
	function genId(){
		return (1000000000 + parseInt(Math.random() * 8999999999)).toString(36);
	}

	export default {
		data(){
			return {
				saveDialog: false,
				snackStatus: false,
				snackText: '',
				test: null,
				type: 'QUESTIONS',
				loading: false,
				qid: null,
				rid: null,
				name: this.$route.params.name == 'create' ? genId() : this.$route.params.name,
			};
		},
		computed: {
			question(){
				if(!this.test || !this.qid) return null;
				for(let i = 0, l = this.test.questions.length; i < l; ++i){
					if(this.test.questions[i].id == this.qid){
						return this.test.questions[i];
					}
				}
				return null;
			},
			result(){
				if(!this.test || !this.rid) return null;
				for(let i = 0, l = this.test.results.length; i < l; ++i){
					if(this.test.results[i].id == this.rid){
						return this.test.results[i];
					}
				}
				return null;
			},
		},
		methods: {
			editTest(name){},
			deleteTest(name){},

			addQuestion(){
				this.test.questions.push({
					id: genId(),
					title: 'Новый вопрос',
					description: '',
					html: '',
					image: '',
					answers: [],
				});
			},
			editQuestion(id){
				this.qid = id;
			},
			upQuestion(id){
				let n = indexById(this.test.questions, id);
				let a = null;
				if(n !== null && n > 0){
					a = this.test.questions.splice(n, 1, this.test.questions[n - 1])[0];
					this.test.questions.splice(n - 1, 1, a);
				}
			},
			downQuestion(id){
				let n = indexById(this.test.questions, id);
				let a = null;
				if(n !== null && n < this.test.questions.length - 1){
					a = this.test.questions.splice(n, 1, this.test.questions[n + 1])[0];
					this.test.questions.splice(n + 1, 1, a);
				}
			},
			delQuestion(id){
				let n = indexById(this.test.questions, id);
				if(n !== null){
					this.test.questions.splice(n, 1);
				}
			},
			closeQuestion(){
				this.qid = null;
			},

			addResult(id){
				let n = indexById(this.test.results, id);
				let r = this.test.results[n];
				let prev = n == 0 ? null : this.test.results[n - 1];


				let resmax = 0;
				for(let i = 0, l = this.test.results.length; i < l; ++i){
					if(this.test.results[i].max != INF && this.test.results[i].max > resmax){
						resmax = +this.test.results[i].max;
					}
				}

				let max = r.max == INF ? resmax + 1 : r.max - 1;
				let min = prev ? +prev.max : 0;
				if(max < 0){ max = 0; }

				let newRes = {
					id: genId(),
					min: min,
					max: max,
					title: 'Новый результат',
					description: '',
					html: '',
					image: '',
				};

				let skip = false;
				for(let i = 0, l = this.test.results.length; i < l; ++i){
					let rmax = this.test.results[i].max == INF ? Infinity : +this.test.results[i].max;
					let r2max = max == INF ? Infinity : +max;
					if(!skip && rmax <= r2max){
						this.test.results.splice(i + 1, 0, newRes);
						skip = true;
						break;
					}
				}

				if(skip) this.sortResult();
				else{
					if(this.test.results[0] && max != INF){
						this.test.results.splice(0, 0, newRes);
					}
					else{
						this.test.results.push(newRes);
					}
					this.sortResult();
				}

				r.min = max;
				this.test.results[0].min = 0;
			},
			editResult(id){
				this.rid = id;
			},
			delResult(id){
				let n = indexById(this.test.results, id);
				if(n !== null){
					this.test.results.splice(n, 1);
				}
				this.sortResult();
			},
			closeResult(){
				this.rid = null;
				this.sortResult();
			},
			sortResult(){
				if(this.loading){ return; }
				this.loading = true;
				let maxs = []
				let min = 0;

				// sort by max
				this.test.results.sort(function(a, b){
					let am = a.max == INF ? Infinity : +a.max;
					let bm = b.max == INF ? Infinity : +b.max;
					return am - bm;
				});

				// uniq max values
				this.test.results.forEach(function(r, idx){
					var row_max = (r.max == INF ? Infinity : +r.max);
					if(maxs[row_max]){
						for(; maxs[row_max]; ++row_max){}
					}
					maxs[row_max] = 1;
					r.max = (row_max == Infinity ? INF : +row_max);
				});

				// sort by max
				this.test.results.sort(function(a, b){
					let am = a.max == INF ? Infinity : +a.max;
					let bm = b.max == INF ? Infinity : +b.max;
					return am - bm;
				});

				// fix min
				this.test.results.forEach(function(r){
					r.min = min;
					min = r.max == INF ? Infinity : +r.max;
				});
				this.loading = false;
			},

			loadTest(name){
				axios({
					url: '/api/' + name,
					params: {
						token: this.$route.query.token || '',
					},
					method: 'GET',
				}).then(resp => {
					this.name = name;
					this.test = resp.data;
				}, xhr => {
					let err = xhr.response.data;
					let msg = '';
					if(err.error && err.error.message){
						msg = err.error.message;
					}
					else if(err.message){
						msg = err.message;
					}
					else if(err.msg){
						msg = err.msg;
					}

					// this.$store.dispatch('dialog/message', {
					// 	title: 'Ошибка',
					// 	text: msg,
					// });
				});
			},
			createTest(){
				this.test = {
					title: '',
					description: '',
					questions: [],
					results: [
						{
							id: genId(),
							min: 0,
							max: INF,
							title: 'Новый результат',
							description: '',
							html: '',
							image: '',
						}
					],
				};
			},
			saveTest(){
				if(!this.name) return;
				if(this.loading) return;
				this.loading = true;
				axios({
					url: '/api/'+this.name,
					params: {
						token: this.$route.query.token || '',
					},
					method: 'POST',
					data: this.test,
				}).then(resp => {
					this.snackText = 'Успешно сохранено';
					this.snackStatus = true;
					this.loading = false;
				}, xhr => {
					let err = xhr.response.data;
					let msg = '';
					if(err.error && err.error.message){
						msg = err.error.message;
					}
					else if(err.message){
						msg = err.message;
					}
					else if(err.msg){
						msg = err.msg;
					}

					// this.$store.dispatch('dialog/message', {
					// 	title: 'Ошибка',
					// 	text:
				});
			},
		},
		components: {
			't-result': Result,
			't-result-card': ResultCard,
			't-question': Question,
			't-question-card': QuestionCard,
		},
		beforeRouteEnter(to, from, next){
			next(vm => {
				let name = to.params.name;
				vm.test = null;
				name == 'create' ? vm.createTest() : vm.loadTest(to.params.name);
			});
		},
		beforeRouteUpdate(to, from, next){
			let name = to.params.name;
			this.test = null;
			name == 'create' ? this.createTest() : this.loadTests(to.params.name);
			next();
		},
	};
</script>
<style lang="scss">
	.t-form{
		position: relative;
	}
</style>
