<template>
	<div class="">
		<div v-if="!tests">
			<v-progress-circular indeterminate color="primary"></v-progress-circular>
		</div>
		<v-data-iterator
			v-else
			content-tag="v-list"
			row
			wrap
			:items="tests"
			:rows-per-page-items="[6, 12, 24, {text: 'All', value: -1}]"
			:pagination.sync="pagination"
		>
			<v-list-tile
				slot="item"
				slot-scope="props"
				dense
			>
				<v-list-tile-content>
					<v-list-tile-title>{{ props.item }}</v-list-tile-title>
				</v-list-tile-content>
				<v-list-tile-action>
					<v-btn icon @click="editTest(props.item)">
						<v-icon>edit</v-icon>
					</v-btn>
				</v-list-tile-action>
				<v-list-tile-action>
					<v-btn icon @click="deleteTest(props.item)">
						<v-icon>delete</v-icon>
					</v-btn>
				</v-list-tile-action>
			</v-list-tile>
		</v-data-iterator>
		<v-snackbar
			v-model="snackStatus"
			:timeout="3000"
			bottom multi-line
		>{{snackText}}</v-snackbar>
	</div>
</template>

<script>
	import axios from 'axios';
	function lpad(num){
		return num < 10 ? '0' + num : num;
	}
	export default {
		data(){
			return {
				snackStatus: false,
				snackText: '',
				tests: null,
				pagination: {
					rowsPerPage: 6
				}
			};
		},
		methods: {
			editTest(name){
				this.$router.push({
					path: '/' + name,
					query: {
						token: this.$route.query.token
					}
				});
			},
			deleteTest(name){
				axios({
					url: '/api/' + name,
					params: {
						token: this.$route.query.token || '',
					},
					method: 'DELETE',
				}).then(resp => {
					this.loadTests();
				}, xhr => {
					let err = xhr.response.data;
					let msg = '';
					if(err.error && err.error.message){
						msg = err.error.message;
					}
					else if(err.message){
						msg = err.message;
					}
					else if(err.msg){
						msg = err.msg;
					}

					// this.$store.dispatch('dialog/message', {
					// 	title: 'Ошибка',
					// 	text: msg,
					// });
				});
			},

			loadTests(){
				axios({
					url: '/api',
					params: {
						token: this.$route.query.token || '',
					},
					method: 'GET',
				}).then(resp => {
					this.tests = resp.data;
				}, xhr => {
					let err = xhr.response.data;
					let msg = '';
					if(err.error && err.error.message){
						msg = err.error.message;
					}
					else if(err.message){
						msg = err.message;
					}
					else if(err.msg){
						msg = err.msg;
					}

					// this.$store.dispatch('dialog/message', {
					// 	title: 'Ошибка',
					// 	text: msg,
					// });
				});
			},
		},
		beforeRouteEnter(to, from, next){
			next(vm => {
				vm.tests = null;
				vm.loadTests();
			});
		},
		beforeRouteUpdate(to, from, next){
			this.tests = null;
			this.loadTests();
			next();
		},
	};
</script>
<style lang="scss"></style>
