<template>
	<v-dialog v-model="isOpen" max-width="640">
		<v-card>
			<v-card-title class="headline">{{value.title}}</v-card-title>
			<v-card-text>
				<v-text-field
					label="Ответ"
					v-model="value.title"
					:disabled="loading"
					persistent-hint
				></v-text-field>
				<v-text-field
					label="Комментарий"
					v-model="value.description"
					:disabled="loading"
					persistent-hint
					multi-line
				></v-text-field>
				<v-text-field
					label="Очки"
					v-model="value.score"
					type="number"
					:disabled="loading"
					persistent-hint
				></v-text-field>
			</v-card-text>
			<v-card-actions>
				<v-spacer></v-spacer>
				<v-btn flat="flat" @click.native="close">Закрыть</v-btn>
			</v-card-actions>
		</v-card>
	</v-dialog>
</template>
<script>
	export default {
		props: ['dialog', 'value'],
		data(){
			return {
				loading: false,
				isOpen: this.dialog,
			};
		},
		watch: {
			dialog(n, o){
				this.isOpen = n;
			}
		},
		methods: {
			close(){
				this.$emit('close');
			}
		}
	};
</script>
