<template>
	<v-list-tile :class="['t-q']">
		<v-list-tile-title>{{value.title}}</v-list-tile-title>
		<v-list-tile-action class="t-q-action">
			<v-btn icon @click="edit(value.id)">
				<v-icon>edit</v-icon>
			</v-btn>
		</v-list-tile-action>
		<v-list-tile-action class="t-q-action">
			<v-btn icon @click="up(value.id)">
				<v-icon>arrow_upward</v-icon>
			</v-btn>
		</v-list-tile-action>
		<v-list-tile-action class="t-q-action">
			<v-btn icon @click="down(value.id)">
				<v-icon>arrow_downward</v-icon>
			</v-btn>
		</v-list-tile-action>
		<v-list-tile-action class="t-q-action">
			<v-btn icon @click="del(value.id)">
				<v-icon>delete</v-icon>
			</v-btn>
		</v-list-tile-action>
	</v-list-tile>
</template>
<script>
	export default {
		props: ['value'],
		data(){
			return {};
		},
		methods: {
			edit(id){
				this.$emit('edit', id);
			},
			up(id){
				this.$emit('up', id);
			},
			down(id){
				this.$emit('down', id);
			},
			del(id){
				this.$emit('del', id);
			},
		},
	};
</script>
<style lang="scss">
	.t-q{
		.list__tile{
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
	}
	.t-q-action{
		min-width: 36px;
		.btn--icon{
			margin-left: 0;
		}
	}
</style>
