<template>
	<v-card class="t-q">
		<v-card-title class="headline mb-0">{{value.title}}</v-card-title>
		<v-card-text>
			<v-text-field
				label="Вопрос"
				v-model="value.title"
				:disabled="loading"
				persistent-hint
			></v-text-field>
			<v-text-field
				label="Описание вопроса"
				v-model="value.description"
				:disabled="loading"
				persistent-hint
				multi-line
			></v-text-field>
			<v-text-field
				label="Изображение"
				v-model="value.image"
				:disabled="loading"
				persistent-hint
				hint="Полная ссылка включая https://"
			></v-text-field>
			<v-text-field
				label="Встраиваемое медиа"
				v-model="value.html"
				:disabled="loading"
				persistent-hint
				hint="При наличии выводиться вместо изображения"
				multi-line
			></v-text-field>
			<v-list dense>
				<v-list-tile v-for="a in value.answers" :key="a.id">
					<v-list-tile-title>{{a.title}}</v-list-tile-title>
					<v-list-tile-action class="t-q-action">
						<v-btn icon @click.stop="editAnswer(a.id)">
							<v-icon>edit</v-icon>
						</v-btn>
					</v-list-tile-action>
					<v-list-tile-action class="t-q-action">
						<v-btn icon @click="upAnswer(a.id)">
							<v-icon>arrow_upward</v-icon>
						</v-btn>
					</v-list-tile-action>
					<v-list-tile-action class="t-q-action">
						<v-btn icon @click="downAnswer(a.id)">
							<v-icon>arrow_downward</v-icon>
						</v-btn>
					</v-list-tile-action>
					<v-list-tile-action class="t-q-action">
						<v-btn icon @click="delAnswer(a.id)">
							<v-icon>delete</v-icon>
						</v-btn>
					</v-list-tile-action>
				</v-list-tile>
			</v-list>
		</v-card-text>
		<v-card-actions>
			<v-btn primary @click="addAnswer">Добавить ответ</v-btn>
			<v-btn flat @click="closeQuestion">Закрыть</v-btn>
		</v-card-actions>
		<t-answer-dialog
			v-if="answer"
			:dialog="!!answer"
			:value="answer"
			@close="aid = null"
		/>
	</v-card>
</template>
<script>
	import AnswerDialog from './AnswerDialog.vue';


	function indexById(ar, id){
		let n = null;
		for(let i = 0, l = ar.length; i < l; ++i){
			if(ar[i].id == id){
				n = i;
			}
		}
		return n;
	}
	function genId(){
		return (1000000000 + parseInt(Math.random() * 8999999999)).toString(36);
	}

	export default {
		props: ['value'],
		data(){
			return {
				loading: false,
				aid: null,
			};
		},
		computed: {
			answer: function(){
				if(!this.value || !this.aid) return null;
				for(let i = 0, l = this.value.answers.length; i < l; ++i){
					if(this.value.answers[i].id == this.aid){
						return this.value.answers[i];
					}
				}
				return null;
			}
		},
		methods: {
			closeQuestion(){
				this.$emit('close');
			},

			addAnswer(){
				this.value.answers.push({
					id: genId(),
					title: 'Новый ответ',
					description: '',
					score: 0,
				});
			},
			editAnswer(id){
				this.aid = id;
			},
			upAnswer(id){
				let n = indexById(this.value.answers, id);
				let a = null;
				if(n !== null && n > 0){
					a = this.value.answers.splice(n, 1, this.value.answers[n - 1])[0];
					this.value.answers.splice(n - 1, 1, a);
				}
			},
			downAnswer(id){
				let n = indexById(this.value.answers, id);
				let a = null;
				if(n !== null && n < this.value.answers.length - 1){
					a = this.value.answers.splice(n, 1, this.value.answers[n + 1])[0];
					this.value.answers.splice(n + 1, 1, a);
				}
			},
			delAnswer(id){
				let n = indexById(this.value.answers, id);
				if(n !== null){
					this.value.answers.splice(n, 1);
				}
			},
		},
		components: {
			't-answer-dialog': AnswerDialog,
		}
	};
</script>
<style lang="scss">
	.t-q{
		.list__tile{
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
	}
	.t-q-action{
		min-width: 36px;
		.btn--icon{
			margin-left: 0;
		}
	}
</style>
