<template>
	<v-card class="t-q">
		<v-card-title class="headline mb-0">{{value.title}}</v-card-title>
		<v-card-text>
			<v-text-field
				label="Минимум баллов"
				v-model="value.min"
				disabled
				persistent-hint
				hint="Заполняется автоматически"
			></v-text-field>
			<v-text-field
				label="Максимум баллов"
				v-model="value.max"
				:disabled="value.max == '∞'"
				persistent-hint
				hint="Не включительно"
			></v-text-field>
			<v-text-field
				label="Заголовок результата"
				v-model="value.title"
				:disabled="loading"
				persistent-hint
			></v-text-field>
			<v-text-field
				label="Текст результата"
				v-model="value.description"
				:disabled="loading"
				persistent-hint
				multi-line
			></v-text-field>
			<v-text-field
				label="Изображение"
				v-model="value.image"
				:disabled="loading"
				persistent-hint
				hint="Полная ссылка включая https://"
			></v-text-field>
			<v-text-field
				label="Встраиваемое медиа"
				v-model="value.html"
				:disabled="loading"
				persistent-hint
				hint="При наличии выводиться вместо изображения"
				multi-line
			></v-text-field>
		</v-card-text>
		<v-card-actions>
			<v-btn flat @click="closeResult">Закрыть</v-btn>
		</v-card-actions>
	</v-card>
</template>
<script>
	export default {
		props: ['value'],
		data(){
			return {
				loading: false,
			};
		},
		methods: {
			closeResult(){
				this.$emit('close');
			},
		},
	};
</script>
<style lang="scss"></style>
