<template>
	<v-list-tile :class="['t-q']">
		<v-list-tile-title>{{value.min}}-{{value.max}} {{value.title}}</v-list-tile-title>
		<v-list-tile-action class="t-q-action">
			<v-btn icon @click="edit(value.id)">
				<v-icon>edit</v-icon>
			</v-btn>
		</v-list-tile-action>
		<v-list-tile-action class="t-q-action">
			<v-btn icon @click="add(value.id)">
				<v-icon>vertical_align_top</v-icon>
			</v-btn>
		</v-list-tile-action>
		<v-list-tile-action v-if="value.max != '∞'" class="t-q-action">
			<v-btn icon @click="del(value.id)">
				<v-icon>delete</v-icon>
			</v-btn>
		</v-list-tile-action>
	</v-list-tile>
</template>
<script>
	const INF = '∞';

	export default {
		props: ['value'],
		data(){
			return {};
		},
		methods: {
			add(id){
				this.$emit('add', id);
			},
			edit(id){
				this.$emit('edit', id);
			},
			del(id){
				this.$emit('del', id);
			},
		},
	};
</script>
<style lang="scss"></style>
