<template>
	<v-app id="inspire">
		<v-navigation-drawer
			fixed
			v-model="drawer"
			app
		>
			<v-list dense>
				<v-list-tile @click="$router.push({path: '/', query: {token: $route.query.token}})">
					<v-list-tile-action>
						<v-icon>home</v-icon>
					</v-list-tile-action>
					<v-list-tile-content>
						<v-list-tile-title>Список тестов</v-list-tile-title>
					</v-list-tile-content>
				</v-list-tile>
				<v-list-tile @click="$router.push({path: '/create', query: {token: $route.query.token}})">
					<v-list-tile-action>
						<v-icon>add</v-icon>
					</v-list-tile-action>
					<v-list-tile-content>
						<v-list-tile-title>Создать тест</v-list-tile-title>
					</v-list-tile-content>
				</v-list-tile>
			</v-list>
		</v-navigation-drawer>
		<v-toolbar color="indigo" dark fixed app extended>
			<v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
			<v-toolbar-title>{{$route.meta.title}}</v-toolbar-title>
			<v-btn
				v-if="$route.path == '/'"
				color="pink"
				dark
				small
				absolute
				bottom
				left
				fab
				@click="$router.push({path: '/create', query: {token: $route.query.token}})"
			>
				<v-icon>add</v-icon>
			</v-btn>
			<v-spacer></v-spacer>
			<v-btn icon v-if="false">
				<v-icon>search</v-icon>
			</v-btn>
		</v-toolbar>
		<v-content>
			<v-container fluid fill-height :class="['bg-w']">
				<v-layout
					justify-center
					align-top
				>
					<v-flex>
						<router-view/>
					</v-flex>
				</v-layout>
			</v-container>
		</v-content>
		<v-footer color="indigo" app>
			<span class="white--text px-3">&copy; 2018</span>
		</v-footer>
	</v-app>
</template>
<script>
	export default {
		data(){
			return {
				drawer: false,
			};
		}
	};
</script>
<style lang="scss">
	.bg-w{
		background-color: #fff;
	}
	.p0{
		padding: 0;
	}
	.pt{
		padding-top: 1em;
	}
	.flex{
		max-width: 100%;
	}
</style>
