<template>
	<v-app id="ehot-testing-app">
		<v-progress-circular v-if="state == 0" indeterminate color="primary" />
		<div v-if="state == 1">
			<div class="t-test-title headline mb-3">{{test.title}}</div>
			<div class="t-test-desc mb-3">{{test.description}}</div>
			<v-btn color="primary" @click="state = 2">Начать тест</v-btn>
		</div>
		<v-card v-if="state == 2">
			<v-card-media>
				<img :src="test.questions[q].image" :alt="test.questions[q].title">
			</v-card-media>
			<v-card-text>
				<div class="tac">{{q + 1}} / {{test.questions.length}}</div>
			</v-card-text>
			<v-card-title primary-title>
				<div class="headline mb-0">{{test.questions[q].title}}</div>
				<div v-if="test.questions[q].description">{{test.questions[q].description}}</div>
			</v-card-title>
			<v-card-text>
				<v-list :two-line="!!answered">
					<v-list-tile
						v-for="a in test.questions[q].answers"
						:key="a.id"
						@click="answer(q, a)"
						:ripple="!answered"
					>
						<v-list-tile-title
							:class="{'t-success': +a.score, 't-error': answered == a.id && !(+a.score)}"
						>{{a.title}}</v-list-tile-title>
						<v-list-tile-sub-title
							v-if="answered && (answered == a.id || a.score) && a.description"
						>{{a.description}}</v-list-tile-sub-title>
					</v-list-tile>
				</v-list>
			</v-card-text>
			<v-card-actions>
				<v-btn v-if="answered" flat @click="nextQuestion">{{q + 1 == test.questions.length ? 'Показать результат' : 'Следующий вопрос'}}</v-btn>
			</v-card-actions>
		</v-card>
		<v-card v-if="state == 3">
			<v-card-media v-if="test.results[r].image">
				<img :src="test.results[r].image" :alt="test.results[r].title">
			</v-card-media>
			<v-card-text>
				<div class="tac">Правильных ответов: {{score}}</div>
			</v-card-text>
			<v-card-title primary-title>
				<div class="headline mb-0">{{test.results[r].title}}</div>
				<div v-if="test.results[r].description">{{test.results[r].description}}</div>
			</v-card-title>
			<v-card-actions>
				<v-btn flat @click="restart">Начать сначала</v-btn>
			</v-card-actions>
		</v-card>
	</v-app>
</template>
<script>
	const cfg = {
		protocol: process.env.KSS_TESTING_PROTOCOL,
		host: process.env.KSS_TESTING_HOST,
		port: process.env.KSS_TESTING_PORT,
	}

	function ajax(opt){
		if(!opt.url) throw 'No URL';

		var xhr = new XMLHttpRequest();
		xhr.open(opt.method || 'GET', opt.url, true, opt.user, opt.password);

		if(opt.headers){
			for(var i in opt.headers){
				xhr.setRequestHeader(i, opt.headers[i]);
			}
		}

		xhr.send(opt.body);
		xhr.onreadystatechange = function(){
			if(xhr.readyState != 4) return;
			if(xhr.status == 200){
				opt.success && opt.success(xhr.response, xhr);
			}
			else{
				opt.error && opt.error(xhr);
			}
		}
		return xhr;
	}

	export default{
		data(){
			let id = 'ehot-testing';
			let script = document.getElementById(id);
			return {
				state: 0,
				name: script.getAttribute('data-test'),
				test: null,
				q: 0,
				score: 0,
				answered: false,
				answers: [],
				r: null,
			};
		},
		methods: {
			loadTest(){
				ajax({
					url: cfg.protocol + '://' + cfg.host + (cfg.port == 80 ? '' : ':' + cfg.port) + '/api/' + this.name,
					success: resp => {
						this.test = JSON.parse(resp);
						this.state = 1;
					},
					error: xhr => {},
				});
			},
			answer(q, a){
				if(this.answered) return;
				this.answers.push(a.id);
				this.answered = a.id;
				this.score += +a.score;
			},
			nextQuestion(){
				this.answered = false;
				this.q++;
				if(!this.test.questions[this.q]){
					this.showResult();
				}
			},
			showResult(){
				this.state = 3;
				for(let i = 0, l = this.test.results.length; i < l; ++i){
					let max = this.test.results[i].max == '∞' ? Infinity : this.test.results[i].max;
					if(+this.score >= +this.test.results[i].min && +this.score < +max){
						this.r = i;
					}
				}

				ajax({
					method: 'POST',
					url: cfg.protocol + '://' + cfg.host + (cfg.port == 80 ? '' : ':' + cfg.port) + '/api/result/' + this.name,
					body: JSON.stringify(this.answers),
					success: resp => {},
					error: xhr => {},
				});

				if('CustomEvent' in window && 'dispatchEvent' in document){
					let event = new CustomEvent('ehot-testing-result', {detail: this.test.results[this.r]});
					document.dispatchEvent(event);
				}
			},
			restart(){
				this.r = null;
				this.score = 0;
				this.q = 0;
				this.state = 1;
				this.answers = [];

				if('CustomEvent' in window && 'dispatchEvent' in document){
					let event = new CustomEvent('ehot-testing-restart', {detail: null});
					document.dispatchEvent(event);
				}
			},
		},
		created(){
			if(this.name) this.loadTest();
		},
	};
</script>
<style lang="scss">
	#ehot-testing-app{
		max-width: 640px;
		padding: 20px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		line-height: 1.3;
		.card__actions{
			justify-content: center;
		}
		.list--two-line{
			.list__tile{
				height: auto !important;
				min-height: 48px;
				flex-wrap: wrap;
			}
			.list__tile__title{
				width: 100%;
				white-space: normal;
				&.t-success{
					color: #096;
				}
				&.t-error{
					color: #960;
				}
			}
			.list__tile__sub-title{
				width: 100%;
				white-space: normal;
				text-align: left;
			}
		}
	}
	.application--wrap{
		min-height: auto;
	}
	.t-test-title{
		font-size: 1.5em;
		line-height: 1.3;
	}
	.t-test-desc{
		font-size: 1em;
		line-height: 1.3;
		white-space: pre-wrap;
	}
	.tac{
		text-align: center;
	}
</style>
